@{
    ViewData["Title"] = "Home Page";
}

    <section class="w3l-main-banner">
        <div class="banner-view">
            <div class="banner-info container">
                <h3 class="banner-text">
                    <small>Hola, soy el</small>
                    Dr. Ramírez Luis
                </h3>
                <p class="mt-3 mb-5">
                    Soy un doctor graduado en la Universidad Nacional de Caracas, con mas de 15 años de experiencia profesional. 
                    Actualmente estudio Analista de Sistemas en ORT Belgrano.
                </p><br>
                <a href="portfolio.html" class="btn btn-light btn-style mr-3">Mis Pacientes</a>
                <a href="#about.html" class="btn btn-outline-light btn-style">Turnos</a>
            </div>
        </div>

        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </section>