@{
    ViewData["Title"] = "Home Page";
}
<!--style="margin-bottom:-80px"
    style="min-height: 840px"-->
    <section class="w3l-main-banner">
        <div class="banner-view">
            <div class="banner-info container">
                <h3 class="banner-text">
                    <small>Hola, soy el</small>
                    Dr. Ramírez Luis
                </h3>
                <p class="mt-3 mb-5">
                    Bienvienidos a mi sistema personal de gestion de turnos
                </p><br>
                <a asp-area="" asp-controller="Pacientes" asp-action="Index" class="btn btn-light btn-style mr-3">Mis Pacientes</a>
                <a asp-area="" asp-controller="Turnos" asp-action="Index" class="btn btn-outline-light btn-style">Turnos</a>
            </div>
        </div>

        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </section>