@model CentroDeTurnos.Models.Admin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/css/login/main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/login/util.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/estilos.css")" rel="stylesheet" type="text/css" />



<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 login-wrap">
            <form asp-action="Login" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="login100-form-title">
                    Iniciar sesión
                </span>

                <div class="text-center p-t-13 p-b-23 login-text">
                    <span class="txt1 login-font">
                        Para acceder a los menús de turnos y pacientes necesita una cuenta de administrador.
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    <input asp-for="Mail" name="Mail" class="input100" type="text" placeholder="Correo electronico">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input login-pass" data-validate="Please enter password">
                    <input asp-for="Pass" name="Pass" type="password" class="input100" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>

                <div class="login-error">
                    <span class="text-danger">@ViewBag.Error</span>
                </div>

                <div class="container-login100-form-btn login-ingresar">
                    <button class="login100-form-btn">
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>