@model CentroDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <main role="main" class="pb-3">
        <h2>Editar</h2>

        <h4>Turno</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="PacienteID" class="control-label"></label>
                        <select asp-for="PacienteID" class="form-control" asp-items="ViewBag.PacienteID"></select>
                        <span asp-validation-for="PacienteID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoTurno" class="control-label"></label>
                        <select asp-for="TipoTurno" class="form-control" asp-items="Html.GetEnumSelectList<TipoTurno>()"></select>
                        <span asp-validation-for="TipoTurno" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaTurno" class="control-label"></label>
                        <input asp-for="FechaTurno" class="form-control" />
                        <span asp-validation-for="FechaTurno" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </main>
</div>